<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://unpkg.com/vue@3.0.2"></script>
    <title>Basic Vue</title>
</head>

<body>
    <div id="app">
        <div v-if="showBooks">
            <p>{{title}} - {{author}}, {{age}}</p>
        </div>
        <button v-on:click="age++">Increase Age</button>
        <button v-on:click="age--">Decrease Age</button>
        <br />
        <br />
        <div @click="changeTitle('Life is Wonderfull')">Click Me</div>
        <br />
        <button @click="toggleShowBooks">
            <span v-if="showBooks">Hide Books</span>
            <span v-else>Show Books</span>
        </button>
        <br/>
        <p v-show="showBooks">Currently showing the books</p>

    </div>
    <script src="./app.js"></script>
</body>

</html>
