@import url("https://fonts.googleapis.com/css2?family=Nunito:wght@200;300;400;500;600;700;800;900&display=swap");

:root {
    --background-color: #557b83;
    --primary-color: #39aea9;
    --secondary-color: #a2d5ab;
    --accent-color: #e5efc1;
    --grey: #555;
    --white: #fefefe;
    --black: #020202;
    --text-4xl: 3.052rem;
    --text-3xl: 2.441rem;
    --text-2xl: 1.953rem;
    --text-xl: 1.563rem;
    --text-lg: 1.25rem;
    --text-base: 1rem;
    --text-sm: 0.8rem;
}

::before,
::after,
* {
    margin: 0;
    padding: 0;
    box-sizing: inherit;
    scroll-behavior: smooth;
}

html {
    font-size: 62.5%;
}

body {
    font-family: Nunito, Helvetica, Arial, sans-serif;
    min-height: 100vh;
    box-sizing: border-box;
    background-color: var(--background-color);
}
